{% extends "base.html" %}
{% load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/pendiente.css' %}">
{% endblock css %}
{% block contenido %}
    <section id="Admin">
        <h3> Administrador de Noticias</h3>
        <div class="table-responsive">
            <table class="table dark" border="4">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Foto</th>
                        <th scope="col">publicado</th>
                        <th scope="col">Opciones</th>
                    </tr>            
                    {% for item in Noticias %}
                    <tr>
                        <th scope="row">{{item.IDNot}}</th>
                        <td>{{item.Titulo}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.periodista.NombrePer}}</td>
                        <td>
                            <img class="imagen" src="">
                        </td>
                        <td>
                            {% if item.Publicado  %}
                                <button type="button" class="btn btn-success">Publicado</button>
                            {% else %}
                                <button type="button" class="btn btn-danger">No Publicado</button>
                            {% endif %}
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary" value="Aprobado">Aprobado</button>
                            <button class="btn btn-dark" value="Rechazado" onclick="rechazar({{item.IDNot}})">Rechazado</button>
                            <button class="btn btn-warning" value="Modificar" onclick="modificar({{item.IDNot}})" >Modificar</button>
                        </td>                        
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

{% endblock contenido %}
    {% block js %}
    <script src="{% static 'js/rechazar.js' %}"></script>
    <script src="{% static 'js/modificar.js' %}"></script>
    {% endblock js %}