{% extends "base.html" %}
{% load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bienvenido.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/pendiente.css' %}">
{% endblock css %}
{% block contenido %}   
    <section id="bienvenido">
        <h2>Carrito de compras</h2>          
    </section>
    
    <section id="Admin">
    <div class="table-responsive">
        <table class="table dark" border="4">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                </tr>            
                {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items  %}
                <tr>
                    <td>{{value.ID}}</td>
                    <td>{{value.Nombre}}</td>
                    <td>{{value.Precio}}</td>
                    <td>{{value.Cantidad}}</td>
                    <td>{{value.Total}}</td>
                    <td>
                        <br>
                        <button type="submit" class="btn btn-success"><a class="ag" href="{% url 'AP' value.ID %}">Agregar</a></button>
                        <br>
                        <br>
                        <button type="submit" class=" btn btn-danger"><a class="el" href="{% url 'RP' value.ID %}">Eliminar</a></button>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
        </table>
    </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock contenido %}

    {% block js %}
    
    {% endblock js %}
