{% extends "base.html" %}
{% load static  %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
{% endblock css %}
{% block contenido %}

         <div class="col-4">
        <h1 class="tit">Se acabo la Pandemia del coronavirus y la Emergencia Internacional de la viruela del mono</h1>
        <p class="baj">La OMS declara el fin de la Pandemia del coronavirus y de la Emergencia Internacional del brote de la viruela del mono o símica tras la baja de casos</p>
        <div class="cont-creditos"> 
            <p class="autor">Caos News</p>
        </div>
        <div class="imagen">
            <img class="imagen-noticia" src="{% static 'img/coronavirus.jpg' %}" alt="">
        </div>
        <div class="toolbar">
            <p class="fecha">Viernes 12 de mayo de 2023</p>
        </div>

        <section class="contenido">
            <div class="cuerpo">
                <p>
                    La Organización Mundial de la Salud (OMS) declaró este viernes el fin de la emergencia sanitaria mundial por la pandemia de COVID-19 luego de tres años,
                    de acuerdo a lo señalado por Tedros Adhanom, director general del organismo, la decisión fue tomada tras la recomendación del Comité de Emergencia de la OMS,
                    no obstante, afirmó que esto no impide que en el corto o mediano plazo la medida pueda ser revertida. 
                </p>
                <p>
                    "Ha sido una decisión tomada con precaución. No dudaré en volver a declarar la emergencia si la situación cambia", 
                    manifestó la autoridad. Sobre la misma declararon el final de la emergencia internacional por el brote de la viruela del mono o símica, 
                    la decision fue tomada un día después de que se reuniera el comité de emergencia que analizaba trimestralmente la situacion del brote, los casos sobre el coronavirus bajaron casi un 95%, 
                    de forma paralela los casos sobre la viruela del mono bajaron en un 90%.
                </p>
            </div>
        </section>
     </div>

{% endblock contenido %}

    {% block js %}
    
    {% endblock js %}



